#---------------------------------------------------------------------------# 
# std::map
#---------------------------------------------------------------------------# 
snippet map
	std::map<${1:key}, ${2:value}> map${3};
	${4}

#---------------------------------------------------------------------------# 
# std::vector
#---------------------------------------------------------------------------# 
snippet vector
	std::vector<${1:char}> v${2};
	${3}

#---------------------------------------------------------------------------# 
# std::string
#---------------------------------------------------------------------------# 
snippet string
	std::string ${1:handle}${2: = "value"};
	${3}

#---------------------------------------------------------------------------# 
# namespace
#---------------------------------------------------------------------------# 
snippet name
	namespace ${1:`Filename('', 'my')`} {
		${2}
	} /* $1 */

#---------------------------------------------------------------------------# 
# class
#---------------------------------------------------------------------------# 
snippet class
	/**
	 * @brief $1
	 */
	class ${1:`Filename('$1_t', 'name')`} {
	public:
		$1 (${2:arguments});
		virtual ~$1 ();
	
	private:
		${3:/* data */}
	};

#---------------------------------------------------------------------------#
# for
#---------------------------------------------------------------------------# 
snippet for
	for (int ${2:i} = 0; $2 < ${1:count}; $2${3:++}) {
		${4:/* code */}
	}
	${5}

#---------------------------------------------------------------------------#
# block comment
#---------------------------------------------------------------------------# 
snippet $l
	//---------------------------------------------------------------------------// 
	// ${1}
	//---------------------------------------------------------------------------// 
	${2}
