#---------------------------------------------------------------------------# 
# shabang
#---------------------------------------------------------------------------# 
snippet #!
	#!/usr/bin/python
	${1}

#---------------------------------------------------------------------------# 
# import
#---------------------------------------------------------------------------# 
snippet imp
	import ${1:module}
	${2}

#---------------------------------------------------------------------------# 
# from x import y
#---------------------------------------------------------------------------# 
snippet from
	from ${1:module} import ${2:submodule}
	${3}

#---------------------------------------------------------------------------# 
# Module Docstring
#---------------------------------------------------------------------------# 
snippet docs
	'''
	File: ${1:`Filename('$1.py', 'foo.py')`}
	Author: ${2:`g:snips_author`}
	Description: ${3}
	'''

#---------------------------------------------------------------------------# 
# while loop
#---------------------------------------------------------------------------# 
snippet while
	while ${1:condition}:
		${2:# code...}

#---------------------------------------------------------------------------# 
# for loop
#---------------------------------------------------------------------------# 
snippet for
	for ${1:needle} in ${2:haystack}:
		${3:# code...}

#---------------------------------------------------------------------------# 
# xrange for loop
#---------------------------------------------------------------------------# 
snippet xfor
	for ${1:i} in xrange(${2:10}):
		${3:# code...}

#---------------------------------------------------------------------------# 
# class
#---------------------------------------------------------------------------# 
snippet class
	class ${1:ClassName}(${2:object}):
		'''
	    ${3:docstring for $1}
	    '''
		def __init__(self, *args, **kwargs):
	        ''' Initialize instance variables
	        '''
			${4:super($1, self).__init__()}
			${5}

#---------------------------------------------------------------------------# 
# function
#---------------------------------------------------------------------------# 
snippet def
	def ${1:fname}(${2:`indent('.') ? 'self' : ''`}):
		''' ${3:docstring for $1}
	    '''
		${4:pass}

#---------------------------------------------------------------------------# 
# function
#---------------------------------------------------------------------------# 
snippet deff
	def ${1:fname}(${2:`indent('.') ? 'self' : ''`}):
		${3}

#---------------------------------------------------------------------------# 
# function
#---------------------------------------------------------------------------# 
snippet defs
	def ${1:mname}(self, ${2:arg}):
		${3:pass}

#---------------------------------------------------------------------------# 
# property
#---------------------------------------------------------------------------# 
snippet property
	def ${1:foo}():
		doc = "${2:The $1 property.}"
		def fget(self):
			${3:return self._$1}
		def fset(self, value):
			${4:self._$1 = value}

#---------------------------------------------------------------------------# 
# lambda
#---------------------------------------------------------------------------# 
snippet lambda
	${1:var} = lambda ${2:vars} : ${3:action}
	${4}

#---------------------------------------------------------------------------# 
# member dereference
#---------------------------------------------------------------------------# 
snippet .
	self.

#---------------------------------------------------------------------------# 
# try / catch
#---------------------------------------------------------------------------# 
snippet try Try/Except
	try:
		${1:pass}
	except ${2:Exception}, ${3:e}:
		${4:raise $3}

snippet try Try/Except/Else
	try:
		${1:pass}
	except ${2:Exception}, ${3:e}:
		${4:raise $3}
	else:
		${5:pass}

snippet try Try/Except/Finally
	try:
		${1:pass}
	except ${2:Exception}, ${3:e}:
		${4:raise $3}
	finally:
		${5:pass}

snippet try Try/Except/Else/Finally
	try:
		${1:pass}
	except ${2:Exception}, ${3:e}:
		${4:raise $3}
	else:
		${5:pass}
	finally:
		${6:pass}

#---------------------------------------------------------------------------# 
# if __name__ == '__main__':
#---------------------------------------------------------------------------# 
snippet main
	def main():
	    ''' Main runner for the program
	    '''
	    ${2:/* code */}

	if __name__ == '__main__':
	    ${1:main()}

#---------------------------------------------------------------------------# 
# __magic__
#---------------------------------------------------------------------------# 
snippet _
	__${1:init}__${2}

#---------------------------------------------------------------------------# 
# list comprehension
#---------------------------------------------------------------------------# 
snippet list
	[$1 for ${1:i} in ${2:loop}${3: condition}]
	${4}

#---------------------------------------------------------------------------# 
# Generator
#---------------------------------------------------------------------------# 
snippet gen
	def ${1:generator}(${2}):
	    while True:
	        ${3}
	        ${4:yield result}
	${5}

#---------------------------------------------------------------------------# 
# flower box
#---------------------------------------------------------------------------# 
snippet #l
	#---------------------------------------------------------------------------# 
	# ${1}
	#---------------------------------------------------------------------------# 
	${2}
